<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="examples.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="AccordionDemoCtrl">
    <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime" />Open only one at a time</label>
    <accordion close-others="oneAtATime">
        
        <accordion-group is-open="isopen"  ng-repeat="group in groups">
              <accordion-heading ng-click="isopen=!isopen">
                <div>
                    zs
                </div>
              </accordion-heading>
              {{group.content}}
        </accordion-group>
        
    </accordion>
</div>
  


  </body>
</html>
