});
{% block modalHeader %}Reminder{% endblock %}

{%block bodyWidgets %}
<style>
.tabs-center.nav-tabs{
	border-bottom:0;
}
.tabs-center>.nav-tabs>li{
	float:none;
}
.tabs-center>.nav-tabs>li>a{
	min-width:74px;
	margin-right:0;
	
}
.tabs-center>.nav-tabs{
float: none;
margin-right:0px;
border-right: 0px solid #ddd;
	
}
.tabs-center>.nav-tabs>li>a{
	margin-right:-1px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
  color: #757575;
}

.tabs-center>.nav-tabs>li>a:hover,.tabs-center>.nav-tabs>li>a:focus{
	border-color:#eee #ddd #eee #eee;
}
.tabs-center>.nav-tabs .active>a,.tabs-center>.nav-tabs .active>a:hover,.tabs-center>.nav-tabs .active>a:focus{
	border-color:#ddd transparent #ddd #ddd;
  background-color: #72655C;
  color: white;
	*border-right-color:#fff;
}
.tab-content{
	overflow:auto;
}
.tab-content>.tab-pane,.pill-content>.pill-pane{
	display:none;
}
.tab-content>.active,.pill-content>.active{
	display:block;
}


  
   

</style>
<div class="row">
<div class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
   <div class="tabbable tabs-center">
	   	<ul class="nav nav-tabs" id="{{id}}myTab">
	   	    <li ng-repeat="elemento in dataReminder" > 
            <a data-toggle="tab" ng-click="selectReminder(elemento.minutes)" data-value="{{angular("elemento.minutes")}}"  style="padding-top: 5px;padding-bottom: 5px;">{{angular("elemento.textDisplay")}}</a>	
          </li>
	   	</ul>
   </div>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12  col-md-12 col-lg-12" style="padding-top: 2px;"> <hr style="display: block;margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto;border-style: inset;border-width: 1px;"></div>
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6" style="padding-top: 2px;">{{widget_at(0, tags="startDate")}} </div>
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6" style="padding-top: 2px;"></div>
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6" style="padding-top: 2px;">{{widget_at(0, tags="endDate")}}</div>
<div class="col-xs-6 col-sm-6  col-md-6 col-lg-6" style="padding-top: 2px;"></div>
</div>

{% endblock %}

{% block modalControllerScript %}

$scope.showRecurrenceDialog = function(){
	$scope.hideModal();
  $scope.$emit('openRecurrenceEvent');
};



 $scope.dataReminder = [{minutes: 0, textDisplay: "none"},
                     {minutes: 5, textDisplay: "5 minutes before"},
                     {minutes: 10, textDisplay: "10 minutes before"},
                     {minutes: 15, textDisplay: "15 minutes before"},
                     {minutes: 20, textDisplay: "20 minutes before"},
                     {minutes: 30, textDisplay: "30 minutes before"},
                     {minutes: 60, textDisplay: "1 hour before"},
                     {minutes: 120, textDisplay: "2 hour before"},
                     {minutes: 180, textDisplay: "3 hour before"}
                     ];

                       
  $scope.selectReminder=function(selected){
  
    $rootScope.sharedData.data.reminder=selected;
  };

  $('.startDateClassD').datepicker().on('changeDate', function(e){	
    $('.startDateClass').datepicker("update",e.date);
	});


{% endblock %}