{#
  warnForm Widget

  Configurables:
  - customJson.showViewEventName : the name event when the user clic in change the kind of views, by default is : CHANGE_VIEW
   
  blocks:
    - searchTitle  : if the user would like to put a title in the custom bar    
    

  Modification history:
    Feature enhancement by name on mm/dd/yyyy:  
     
#}

{% extends "layout.html" %}
{% block body %}
 <!--<div ng-controller="{{id}}warnFormCtrl">
 <span>TEXT TEST</span>
  <form name="formE"   confirmonexit >
    myModel.text: <input name="input" ng-model="myModel.text"><br><br>
    MyModel.text2 <input name="input" ng-model="myModel.text2">
  </form>
</div>-->

{% endblock %}
{% block footer %}
<div id="{{id}}warnFormCtrl"  ng-controller="{{id}}warnFormCtrl">
  
<script type="text/ng-template" id="warnTemplate.html">
    <div  class="row help-header" title= " ">
    
    </div>
</script>

</div>

{% endblock %}

{% block script %}
var module= angular.module('{{id}}app', ['confirmonexit']);
module.controller('{{id}}warnFormCtrl',['$scope','$timeout','$log','$rootScope',
      function($scope,$timeout,$log,$rootScope){
     
  
       $rootScope.$on("unsavedDataVerified",function(event,args){
       /* return true if there are some data unsaved */
              if({% block warnFormControllerScript %} {% endblock %} )
                  args.referenceRoot.sharedData.unsavedData=true;
              else
                  args.referenceRoot.sharedData.unsavedData=false;
        });


}]);

addApp('{{id}}app');
{% endblock %}